{% extends "inventario/comun/base.html" %}

{% block content %}

<article class="content forms-page">
    <div class="title-block text-center">
        {% if editar %}
            <h3 class="title">Editar proveedor</h3>
            <p class="title-description">Cambie los datos del proveedor</p>
        {% else %}
            <h3 class="title">Agregar proveedor</h3>
            <p class="title-description">Introduzca los datos del proveedor</p>
        {% endif %}
    </div>

    <!-- Botón para listar productos -->
    <div class="d-flex justify-content-end mb-3">
        <a href="/inventario/listarProveedores" class="btn btn-info">
            <i class="fa fa-list"></i> Listar Proveedores
        </a>
    </div>
    <!-- Fin de botón -->

    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">

                {% for error in form.non_field_errors %}
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title">{{ form.errors }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if modo == "agregado" %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="card card-primary">
                            <div class="card-header">
                                <div class="header-block">
                                    <em class="fa fa-check"></em>
                                    <p class="title">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {% if modo == "editado" %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="card card-primary">
                            <div class="card-header">
                                <div class="header-block">
                                    <em class="fa fa-check"></em>
                                    <p class="title">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <!-------------------   FORMULARIO PARA AGREGAR PROVEEDOR ---------------------------------->
                <div class="card card-block sameheight-item">
                    <form role="form" method="POST" onsubmit="return validarTodo('proveedor')">
                        {% csrf_token %}

                        <!----------------   CAMPOS DE TIPO DE CEDULA Y CEDULA  ---------------------->
                        <label for="{{ form.dui.name }}">
                            {{ form.dui.label }}
                        </label>
                        <div class="row form-group">
                            <div class="col-2">
                                {{ form.tipoDui }}
                            </div>
                            <div class="col-10">
                                {{ form.dui }}
                            </div>
                        </div>
                        <!------------------   FIN DE CAMPOS  ------------------------------------------>

                        <!-----------------   CAMPO DEL NOMBRE DEL PROVEEDOR ------------------>
                        <div class="form-group">
                            <label for="{{ form.nombre.name }}">
                                {{ form.nombre.label }}
                            </label>
                            {{ form.nombre }}
                        </div>
                        <!-----------------   FIN DE CAMPOS ---------------------------------->

                        <!-----------------   CAMPO DEL APELLIDO DEL PROVEEDOR ------------------>
                        <div class="form-group">
                            <label for="{{ form.apellido.name }}">
                                {{ form.apellido.label }}
                            </label>
                            {{ form.apellido }}
                        </div>
                        <!-----------------   FIN DE CAMPOS ---------------------------------->

                        <!-----------------   CAMPO DE LA DIRECCION DEL PROVEEDOR ------------------>
                        <div class="form-group">
                            <label for="{{ form.direccion.name }}">
                                {{ form.direccion.label }}
                            </label>
                            {{ form.direccion }}
                        </div>
                        <!-----------------   FIN DE CAMPOS ---------------------------------->

                        <!-----------------   CAMPO DEL TELEFONO DEL PROVEEDOR ------------------>
                        <div class="form-group">
                            <label for="{{ form.telefono.name }}">
                                {{ form.telefono.label }}
                            </label>
                            {{ form.telefono }}
                        </div>
                        <!-----------------   FIN DE CAMPOS ---------------------------------->

                        <!-----------------   CAMPO DEL CORREO DEL PROVEEDOR ------------------>
                        <div class="form-group">
                            <label for="{{ form.correo.name }}">
                                {{ form.correo.label }}
                            </label>
                            {{ form.correo }}
                        </div>
                        <!-----------------   FIN DE CAMPOS ---------------------------------->

                        <!------------------------------- BOTON DE INGRESO ------------------------------------>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                        <!---------------------------------- FIN DE BOTON ---------------------------------->
                    </form>
                    <!----------------------------------- FIN DEL FORMULARIO -------------------------->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
