<!doctype html>
<html class="no-js" lang="en">
{% include "inventario/comun/estilos.html" %}
    <body>
        <div class="auth">
            <div class="auth-container" style="width: 500px; padding: 30px; background-color: rgb(255, 255, 255); border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="card">
                    <header class="auth-header" style="text-align: left; margin-bottom: px;">
                        <div class="logo-nuevo" style="padding-top: 10px;">
                            {% load static %}
                            <img id="logo-endogeno2" src="{% static 'inventario/assets/logo/logo3.png' %}" style="width: 120px; height: auto; margin-left: 0px;">
                        </div>
                        <h1 class="auth-title" style="text-align: center; margin: 20px 0; font-size: 28px; color: #000000;">Bienvenido</h1>
                    </header>
                    <div class="auth-content" style="padding: 20px;">
                        <p class="text-center" style="font-size: 16px; color: #070707;">Por favor, ingresa tus credenciales para acceder</p>
                        <form id="login-form" method="POST" novalidate="">
                            <div class="form-group" style="margin-bottom: 20px;">
                                {% csrf_token %}
                                <label for="{{ form.username.id_for_label }}" style="font-size: 14px; color: #333;">Nombre de usuario:</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group" style="margin-bottom: 20px;">
                                <label for="{{ form.password.id_for_label }}" style="font-size: 14px; color: #333;">Contraseña:</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-block btn-primary" style="background-color: #15b7ed; border: none; padding: 10px; font-size: 16px; color: white;">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>

{% include "inventario/comun/scripts.html" %}
    </body>
</html>
