<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <!-- Logo en la esquina superior izquierda -->
                <div class="logo-nuevo">
                    {% load static %}
                    <img id="logo-endogeno2" src="{% static 'inventario/assets/logo/logo3.png' %}" style="width: 50px; height: auto;">
                </div>
                <!-- Texto Administrador en la esquina superior derecha, centrado -->
                <div style="text-align: center; font-size: 20px; font-weight: bold; color: #ffffff; margin-top: 20px; margin-right: 20px;">
                    Administrador
                </div>
        </div>

        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li>
                    <a href="/inventario/panel">
                        <i class="fa fa-home"></i> Inicio </a>
                </li>
                <!-- Sub-menu de producto -->
                <li>
                    <a href="">
                        <i class="fa fa-shopping-basket"></i> Producto
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarProductos"><i class="fa fa-ellipsis-h"></i>Listar productos</a></li>
                        <li><a href="/inventario/agregarProducto"><i class="fa fa-plus"></i>Agregar producto</a></li>
                    </ul>
                </li>
                <!--Fin de sub-menu de producto -->
                <!-- Sub-menu de estado -->
<li>
    <a href="#">
        <i class="fa fa-tags"></i> Estado Producto
        <i class="fa arrow"></i>
    </a>
    <ul class="sidebar-nav">
        <li><a href="/inventario/listarEstadoProducto"><i class="fa fa-ellipsis-h"></i>Listar estados</a></li>
        <li><a href="/inventario/agregarEstadoProducto"><i class="fa fa-plus"></i>Agregar estado</a></li>
    </ul>
</li>

<li>
    <a href="#">
        <i class="fa fa-tags"></i> Estado 
        <i class="fa arrow"></i>
    </a>
    <ul class="sidebar-nav">
        <li><a href="/inventario/listarEstado"><i class="fa fa-ellipsis-h"></i>Listar estados</a></li>
        <li><a href="/inventario/agregarEstado"><i class="fa fa-plus"></i>Agregar estado</a></li>
    </ul>
</li>
<!-- Fin de sub-menu de estado -->

<!-- Sub-menu de marca -->
<li>
    <a href="">
        <i class="fa fa-tag"></i> Marca
        <i class="fa arrow"></i>
    </a>
    <ul class="sidebar-nav">
        <li><a href="/inventario/listarMarca"><i class="fa fa-ellipsis-h"></i>Listar marcas</a></li>
        <li><a href="/inventario/agregarMarca"><i class="fa fa-plus-circle"></i> Agregar Marca</a></li>
    </ul>
</li>
<!-- Fin de sub-menu de marca -->

<!-- Sub-menu de bodega -->
<li>
    <a href="">
        <i class="fa fa-building"></i> Bodega
        <i class="fa arrow"></i>
    </a>
    <ul class="sidebar-nav">
        <li><a href="/inventario/listarBodega"><i class="fa fa-ellipsis-h"></i>Listar bodegas</a></li>
        <li><a href="/inventario/agregarBodega"><i class="fa fa-plus-square"></i> Agregar Bodega</a></li>
    </ul>
</li>
<!-- Fin de sub-menu de bodega -->



<!-- Sub-menu de inventario -->
<li>
    <a href="">
        <i class="fa fa-cogs"></i> Inventario
        <i class="fa arrow"></i>
    </a>
    <ul class="sidebar-nav">
        <li><a href="/inventario/listarProductos"><i class="fa fa-list"></i> Listar Productos</a></li>
    </ul>
</li>
<!-- Fin de sub-menu de inventario -->

<!-- Sub-menu de movimientos -->
<li>
    <a href="">
        <i class="fa fa-random"></i> Movimiento
        <i class="fa arrow"></i>
    </a>
    <ul class="sidebar-nav">
        <li><a href="/inventario/listarMovimientos"><i class="fa fa-exchange"></i> Listar Movimientos</a></li>
    </ul>
</li>
<!-- Fin de sub-menu de movimientos -->


                



                <!-- Sub-menu de proveedor -->    
                <li>
                    <a href="">
                        <i class="fa fa-book"></i>Proveedor
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/listarProveedores"><i class="fa fa-ellipsis-h"></i>Listar proveedores</a></li>                            
<li><a href="/inventario/agregarProveedor"><i class="fa fa-plus"></i>Agregar proveedor</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de proveedor -->
                                                

                <!-- Sub-menu de pedido -->
                <li>
                    <a href="">
                        <i class="fa fa-gift"></i>Compras
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/listarCompras"><i class="fa fa-ellipsis-h"></i>Listar Compras</a></li>
<li><a href="/inventario/agregarCompras"><i class="fa fa-plus"></i>Añadir Compras</a></li>

                    </ul>
                    </li>
                <!-- Fin de sub-menu de Compras -->


                <!-- Sub-menu de empleados-->
                <li>
                    <a href="">
                        <i class="fa fa-handshake-o"></i>Empleados
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">

<li><a href="/inventario/listarEmpleados"><i class="fa fa-ellipsis-h"></i>Listar Empleados</a></li>                            
<li><a href="/inventario/agregarEmpleado"><i class="fa fa-plus"></i>Agregar Empleados</a></li>

                    </ul>
                </li>
                <!-- Fin de sub-menu de empleados -->

                <!-- Sub-menu de salidas-->
                <li>
                    <a href="">
                        <i class="fa fa-sign-out"></i> Salidas
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/listarSalidas"><i class="fa fa-ellipsis-h"></i>Listar salidas</a></li>
<li><a href="/inventario/agregarSalida"><i class="fa fa-plus"></i>Agregar salida</a></li>
                    </ul>
                </li>
                <!--Fin de sub-menu de salidas -->

                <!-- Sub-menu de entradas-->
                <li>
                    <a href="">
                        <i class="fa fa-sign-in"></i> Entradas
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/listarEntradas"><i class="fa fa-ellipsis-h"></i>Listar entradas</a></li>
<li><a href="/inventario/agregarEntrada"><i class="fa fa-plus"></i>Agregar entrada</a></li>
                    </ul>
                </li>
                <!--Fin de sub-menu de entradas -->

                <!-- Sub-menu de devoluciones-->
                <li>
                    <a href="">
                        <i class="fa fa-undo"></i> Devoluciones
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/listarDevoluciones"><i class="fa fa-ellipsis-h"></i>Listar devoluciones</a></li>
<li><a href="/inventario/agregarDevoluciones"><i class="fa fa-plus"></i>Agregar devoluciones</a></li>
                    </ul>
                </li>
                <!--Fin de sub-menu de devoluciones -->

                  <!-- -->

                <!-- Sub-menu de factura-->
                <li>
                    <a href="">
                        <i class="fa fa-ticket"></i>Factura
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/listarFacturas"><i class="fa fa-ellipsis-h"></i>Listar facturas</a></li>
<li><a href="/inventario/emitirFactura"><i class="fa fa-money"></i>Emitir factura</a></li>

                    </ul>
                </li>
                <!-- Fin de sub-menu de factura -->
                
                
                <!-- Sub-menu de usuarios -->
                <li>
                    <a href="">
                        <i class="fa fa-users"></i> Usuarios
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/crearUsuario"><i class="fa fa-circle-o"></i>Crear usuario</a></li>
<li><a href="/inventario/listarUsuarios"><i class="fa fa-circle-o"></i>Listar usuarios</a></li>                                 </ul>
                </li>
                <!--Fin de sub-menu de usuarios -->

                <!-- Sub-menu de opciones-->
                <li>
                    <a href="">
                        <i class="fa fa-cog"></i> Opciones
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
<li><a href="/inventario/importarBDD"><i class="fa fa-file-o"></i>Importar base de datos</a></li>
<li><a href="/inventario/descargarBDD"><i class="fa fa-download"></i>Descargar base de datos</a></li>
<li><a href="/inventario/configuracionGeneral"><i class="fa fa-gear"></i>Configuracion general</a></li>

    </ul>
                </li>
                 <!--Fin de sub-menu de opciones -->


                <!-- Sub-menu de manual de usuario-->

                <li>
                    <a href="">
                        <i class="fa fa-book"></i> Manual de usuario
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                
                    {% load static %}
                    <!--
                <li>
                    <a href="{% static 'inventario/manual.pdf' %}" download>
                        <i class="fa fa-download"></i> Descargar manual de usuario (PDF)
                        
                    </a>
                </li>
            -->

<li><a href="/inventario/verManualDeUsuario/inicio"><i class="fa fa-eye"></i>Ver manual de usuario</a></li>

                    </ul>
                </li>

                 <!--Fin de sub-menu de manual de usuario -->
                 
            </ul>
        </nav>
    </div>
</aside>